body{
  font-family: mukta;
}
.container-bottom{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  text-align: left;

}
.description-produit{
  text-align: left;


}
.image-date{
  align-content: center;
  justify-content: space-evenly;

}

@media screen and (min-width: 900px) {
  .image-date{
    display: flex;
    align-content: center;
    justify-content: space-evenly;

  }
}
.selection-date{
  text-align: start;
  width: 400px;

}

.ensemble-checkbox{
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.personnalized-delivery{
  padding-bottom: 5px;
}
.button-createbooking{
  background-color: #B89498;
  border-radius: 30px;
}
.button-createbooking:hover{
  background-color: #EAD7D6;
  color: white;
}
.container-top-img{
  margin-bottom: 12px;
}

#new_booking {
  input {
    border-radius: 20px
  }
}
#test{
  background-color:#B89498;
  margin-top: 15px;
  color: white;
  margin-top: 30px;
  align-items:flex-end ;

  justify-content: flex-end;

}


#test:hover{
  transition: 0,5s;
  border-color: #B89498;
  background-color: #EAD7D6;
  color: black;
}

.container-top-image{
  // margin-left: 20px;
  align-content: flex-start;
    img{
    width: 400px;
    height: 400px;
    }
}

.description-reviews{
  text-align:left ;
  margin-left: 160px;


}
#descri{
  margin-top: 20px;

}

#review-comment{
  margin-bottom: 0px;
}
