  <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50 fixed-bottom">
  <div class="container text-center d-flex justify-content-evenly text-center">
  <%= link_to "/", class: "mon_lien" do  %>
    <button class="btn buttonhome"><i class="fa fa-home"></i> Home</button>
    <% end %>
    <i id= "caddie" class="fa-solid fa-cart-shopping"></i>
    <i id= "user" class="fa-solid fa-user"></i>
  <%= link_to "bookings", class: "mon_lien" do  %>
    <i id= "calendar" class="fa-regular fa-calendar-days"></i>
    <%= link_to new_bag_path do %>
    <i id= "plus-bag" class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</footer>