<ul>
  <% @bags.each do |bag| %>
    <li><%= bag.name %></li>
  <% end %>
</ul>
<%# logo
image user
search barre
critères search
 button
 button
 button
 button
 image
  name
    description
    price x4
%>
