body {
  padding-bottom: 56px;
}

#sticky-footer{
background-color: #EAD7D6;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
width: 100%;
height: 55px;
display: flex;
align-content: center;
align-items: center;

}
.container{
  text-align: center;
}
.buttonhome{
  background-color: #B89498;
  border-radius: 30px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}
.mon_lien :hover {
  color: rgb(0, 0, 0);
}
.fa{
  padding: 10px;
  margin: auto;
  border-radius: 50%;
  background-color: white;
}
#caddie{
  color: black;
  margin-top: auto;
  margin-bottom: auto;
}

#user{
  color: black;
  margin-top: auto;
  margin-bottom: auto;
}

#calendar{
  color: black;
  margin-top: 13px;
  margin-bottom: auto;
}
